table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

@media (min-width: 500px) {
    h1::before {
        content: "Welcome to MASCorp Investment!";
        color:blue;
        font-size: 40;
    }
}

@media (max-width: 499px) {
    h1::before {
        content: "MASCorp Investment";
        color: blue;
        font-size: 15;
    }

a::before {
    content: "\21d2  Click here: ";
    font-weight: bold;
}
